<h1>Hello</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers not eaten</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <span> {{this.id}}. {{this.burger_name}}</span>
                <button type="button" class="btn btn-primary" id="devourButton" data-id={{this.id}}>DEVOUR IT</button>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <h2>Devoured Burgers</h2>>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <span> {{this.id}}. {{this.burger_name}}</span>
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>