<main class="container">
    <div class="row">
        <div class="col-sm-12 justify-content-center">
            <p class="text-center"><img
                    src="https://cdn.dribbble.com/users/184987/screenshots/5712804/minnaso_burger.png" id="imgElement">
            </p>
        </div>
    </div>
    {{!-- Section for listing the burgers users did not eat yet --}}
    <section id="contentForBurgers" class="row justify-content-center">
        <div class="col-lg-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li><span> {{this.id}}. {{this.burger_name}}</span>
                    <button type="button" class="btn btn-primary" id="devourButton" data-id={{this.id}}>DEVOUR
                        IT</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        {{!-- Section for listing the burgers user devoured --}}

        <div class="col-lg-4" id="burgersEaten">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li><span> {{this.id}}. {{this.burger_name}}</span></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>

    {{!-- Section where user can add new burger  --}}
    <div class="row">
        <div class="col-sm-1 addingBurger">
            <form class="create-form">
                    <input type="text" id="newBurger" name="burger" size="40">
                    <button type="submit" class="btn btn-primary" id="addBurger">Add Burger</button>
            </form>
        </div>
    </div>
</main>